fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
rapidfuzz
pymilvus
sentence-transformers
pdfplumber
python-multipart
requests
minio
pytesseract
pdf2image
Pillow
opencv-python-headless
groq
# Authentication dependencies
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.2